<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ImageDIff</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    <style>
        .target-list{

            border-bottom: 1px solid #ddd;

            li{
                list-style: none;
            }
        }
    </style>
</head>
<body>
<header>
    <h1><a href="{{ url_for('index') }}">ImageDiff</a></h1>
</header>

<section>
    <h1>Director builds</h1>

    <div class="quote">
        <table class="result-table">
            <thead>
                <tr>
                    <th>Target</th>
                </tr>
            </thead>

            <tbody>
            {% for target in targets_info.keys() %}
            <tr>
                <td><a href="#{{ target }}">{{ target }}</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</section>
</body>
</html>