<!DOCTYPE html>
<html lang="en">
<head>
    <title>ImageDiff</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}" />
</head>
<body>
<div class="breadcrumbs">
    {% for crumb in breadcrumbs %}
        <a href="{{ url_for('index', dir=crumb.path) }}">{{ crumb.name }}</a> /
    {% endfor %}
</div>
<div class="file-browser">
    <table>
        <thead>
            <tr><th>Name</th><th>Size</th></tr>
        </thead>
        <tbody>
            {% for file in files %}
                <tr>
                    <td>
                        {% if file.type == 'directory' %}
                            <a href="{{ url_for('index', dir=file.path) }}">{{ file.name }}</a>
                        {% elif file.type == 'file' %}
                            <a href="{{ url_for('display_images', image=file.path) }}">{{ file.name }}</a>
                        {% else %}
                            {{ file.name }}
                        {% endif %}
                    </td>
                    <td>{{ file.size }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>