<!DOCTYPE html>
<html lang="en">
<head>
    <title>ImageDiff</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}" />
</head>
<body>
<div class="file-browser">
    <table>
        <thead>
            <tr>
                <th>Movie</th>
                {% for version in version_dirs %}
                    <th><a href="{{ url_for('version_details', version=version) }}">{{ version }}</a></th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for movie, data in movies.items() %}
                <tr>
                    <td><a href="{{ url_for('movie_details', movie_name=movie) }}">{{ movie }}</a></td>
                    {% for version in version_dirs %}
                        <td style="background-color: {{ data[version]['color'] }}">{{ data[version]['text'] }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>