<!DOCTYPE html>
<html lang="en">
<head>
    <title>Version Details - {{ version }}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}" />
</head>
<body>
<h1>Details for Version: {{ version }}</h1>
<table>
    <thead>
        <tr>
            <th>Image Name</th>
            <th>Has Difference</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for diff in diffs %}
            <tr>
                <td>{{ diff.file_name }}</td>
                <td>{{ 'Yes' if diff.has_diff else 'No' }}</td>
                <td>
                    {% if diff.has_diff %}
                        <a href="{{ url_for('display_images', image=os.path.join('.', version, diff.file_name)) }}">Compare</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>