

<head>
    <title>Version Details - {{ version }}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}" />
</head>

<body>
    <h1>Version Details - {{ version }}</h1>
    <table>
        <thead>
            <tr>
                <th>Movie</th>
                <th>Diff</th>
            </tr>
        </thead>
        <tbody>
            {% for movie in movies %}
                <tr>
                    <td>{{ movie }}</td>
                    <td>
                        {% if diffs[movie] %}
                            <a href="{{ url_for('diff', version1=previous_version, version2=version, movie=movie.split('-')[0], frame=movie.split('-')[1].split('.')[0]) }}">View Diff</a>
                        {% else %}
                            <a href="{{ url_for('diff', version1=previous_version, version2=version, movie=movie.split('-')[0], frame=movie.split('-')[1].split('.')[0]) }}">No Diff</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>